<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navBar.ejs") %>

            <div class="container">
                <hr>
                <h1>
                    <%=  question.title %>
                        <p>
                            <%= question.description %>
                        </p>
                </h1>
            </div>

    </body>

    <%- include("partials/footer.ejs") %>